/* div.container {
    max-width: 35%;
    margin: 0 auto;
    padding: 20px;
    color: azure;
}

div.container h1 {
    font-size: 2rem;
    color: #EBDCB2;
    text-align: center;
    margin-bottom: 20px;
}


div.container h2 {
    font-size: 1.5rem;
    color: #EBDCB2;
    text-align: center;
    margin-top: 20px;
}


div.container p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

div.container>div {
    display:flex;
    justify-content: space-evenly;
}

div.container div>div {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

div.container div>div img {
    max-width: 100px;
    border-radius: 50%;
}

div.container div>div h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

div.container div>div p {
    font-size: 1rem;
    color: #666;
}

div.container ul {
    list-style-type: none;
    padding: 0;
}

div.container ul li {
    font-size: 1rem;
    margin-top: 5px;
    color: #333;
}

@media screen and (max-width: 768px) {

} */

div.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: azure;
}

div.container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #EBDCB2;
    text-align: center;
    margin-bottom: 20px;
}

div.container h2 {
    font-size: 1.5rem;
    color: #EBDCB2;
    text-align: center;
    margin-top: 20px;
}

div.container p {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
}

div.container>div {
    display: flex;
    /* flex-wrap: nowrap;  */
    justify-content: space-evenly;
}

div.container div>div {
    width: 100%; /* Take full width on smaller screens */
    margin-top: 20px;
    text-align: center;
}

div.container div>div img {
    max-width: 100px;
    border-radius: 50%;
}

div.container div>div h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

div.container div>div p {
    font-size: 1rem;
    color: #666;
}

div.container ul {
    list-style-type: none;
    padding: 0;
}

div.container ul li {
    font-size: 1rem;
    margin-top: 5px;
    color: #333;
}

@media screen and (max-width: 768px) {
    div.container {
        padding: 10px; /* Reduce padding on smaller screens */
    }

    div.container h1 {
        font-size: 1.5rem; /* Decrease font size for h1 on smaller screens */
        margin-bottom: 10px;
    }

    div.container h2 {
        font-size: 1.2rem; /* Decrease font size for h2 on smaller screens */
        margin-top: 10px;
    }
    
    div.container div>div {
        width: 100%;
        flex-direction: column;/* Take full width on smaller screens */
    }
    
    div.container div>div img {
        max-width: 80px; /* Decrease image size on smaller screens */
    }
    
    div.container div>div h3 {
        font-size: 1rem; /* Decrease font size for h3 on smaller screens */
        margin-top: 5px;
    }
    
    div.container div>div p {
        font-size: 0.9rem; /* Decrease font size for p on smaller screens */
        color: #666;
    }
}
