body,
html,
:root {
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgb(105, 103, 74);
  background: linear-gradient(119deg, rgba(105, 103, 74, 1) 18%, rgba(201, 189, 148, 1) 78%);
  color: #000000;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar,
:root::-webkit-scrollbar {
  display: none;
}


.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  margin-right: 20%;
  border-radius: 5px;
  background-color: #00000057;
  box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 0.52);
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
  padding: 4px 20px;
  padding-top: 7px;
  border-radius: 10px;
  margin-bottom: -1px;
}

.nav-links:hover {
  transform: translate(1px, -2px);
  background-color: rgba(0, 0, 0, 0.265);
}


.nav-cart {

  width: 2rem;
}



.Home {
  display: flex;
  justify-content: space-around;
  /* padding-left: 2%; */
  padding-right: 4%;
  margin-top: 5px;
}

.Home-Avatar {
  /* position: relative; */
  background: url('./imgs/- Zeffir Apartment-.jpg');
  background-size: cover;
  background-position: 0 -62px;
  background-blend-mode: multiply;
  border-radius: 1rem;
  /*transform: skewX(-10deg);*/
  max-width: 300px;
  margin: 2rem;
  margin-top: 2rem;
  flex: 1;
  background-color: #8FBFE0;

}




.row {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}

.Home-Cloths-box-row {
  border-radius: 1rem;
  height: 5rem;
  width: 5rem;
  background: rgb(201, 189, 148);
  background: linear-gradient(93deg, rgba(201, 189, 148, 0) 16%, rgba(255, 255, 255, 0.491) 30%);
  padding: 3rem;
  transform: skewX(-10deg);
  margin-top: 2rem;
  /* max-width: 40%;
  max-height: 20rem; */

  /* flex: 1; */
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #00000057;
  box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 0.52);
  width: 100%;
  padding: 14px 0;

}

.footer-links {
  padding: 0 10px;
  padding-top: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
  border-radius: 10px;
}

.footer-links:hover {
  transform: translate(1px, -2px) rotate(-1deg);
  background-color: rgba(0, 0, 0, 0.265);
}