body,
html,
:root {
  margin: 0;
  padding: 0;
  width: 100%;
  /*background-color: rgb(217, 217, 217);*/
  background-color: #F5DD90;
  ;
}

.nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.nav-links {
  color: #2A2D34;
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
}

.nav-links:hover,
.nav {
  transform: translate(1px, -2px) rotate(-1deg);
}


.nav-cart {

  width: 2rem;

}



.Home {
  display: flex;
  justify-content: space-around;
  /* padding-left: 2%; */
  padding-right: 4%;
}

.Home-Avatar {
  /* position: relative; */
  background: url('- Zeffir Apartment-.jpg');
  background-size: cover;
  background-position: 0 60%;
  background-blend-mode:multiply;
  border-radius: 1rem;
  /*transform: skewX(-10deg);*/
  max-width: 30%;
  margin: 2rem;
  margin-top: 2rem;
  flex: 1;
  /* box-sizing: border-box; */
  /* padding: 5rem;
  padding-top: 7rem; */
  background-color: #8FBFE0;

}

.Home-Cloths {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
}


.row {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}

.Home-Cloths-box-row-1 {
  margin-top: -2rem;
  border-radius: 1rem;
  height: 5rem;
  width: 100%;
  background-color: #EF959C;
  padding: 3rem;
  transform: skewX(-10deg);
  /* max-width: 40%;
  max-height: 20rem; */

  /* flex: 1; */
}

.Home-Cloths-box-row-2 {
  border-radius: 1rem;
  height: 5rem;
  width: 5rem;
  background-color: #EF959C;
  padding: 3rem;
  transform: skewX(-10deg);
  margin-top: 1rem;
  /* max-width: 40%;
  max-height: 20rem; */

  /* flex: 1; */
}